<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">

    <title>Eat-Da-Burger!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>